<fieldset>
  <legend>Purchase Orders</legend>
  <%= link_to "All", purchase_orders_path(all: true), remote: true %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Order ID</th>
        <th>State</th>
        <th>Important Info</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_orders.each do |po| %>
        <tr>
          <td><%= link_to po.id, requests_path(purchase_order_id: po.id), remote: true %></td>
          <td><%= po.order_id %></td>
          <td><%= po.state %></td>
          <td><%= po.important_info %></td>
          <td><%= po.created_at %></td>
          <td><%= po.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
