<h1>Listing purchase_orders</h1>

<%= label_tag :id %>
<%= text_field_tag :id, nil, placeholder: "Id of record to update", data: {id: "" } %>
<%= label_tag :state %>
<%= text_field_tag :state, nil, placeholder: "Update the state", data: {input: 'state' } %>
<%= label_tag :important_info %>
<%= text_field_tag :important_info, nil, placeholder: "Update the important_info", data: {input: 'important_info' } %>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Important info</th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody id="purchase_orders">
    <!-- Sets up a js array of objects and binds the attrs -->
    <%= bind_collection(@purchase_orders) do %>
      <tr data-model-purchase-order="">
        <td data-attr="state"></td>
        <td data-attr="important_info"></td>
        <td data-attr="order_id"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase order', new_purchase_order_path %>
