<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @purchase_order.state %>
</p>

<p>
  <strong>Important info:</strong>
  <%= @purchase_order.important_info %>
</p>

<p>
  <strong>Order:</strong>
  <%= @purchase_order.order %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
