<fieldset>
  <legend>Orders</legend>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>State</th>
        <th>Customer Name</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <td><%= link_to o.id, purchase_orders_path(order_id: o.id), remote: true %></td>
          <!-- Ideally the would build out the below line -->
          <!-- <td><%#= model_attr(o, :state) %></td> -->
          <td><div id="order_#{<%= o.id %>}_state"><%= o.state %></div></td>
          <td><div id="order_<%= o.id %>_customer_name"><%= o.customer_name %></div></td>
          <td><%= o.created_at %></td>
          <td><%= o.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
